*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.header{
 width: 100%;
background-color: blue;
color:white;
}
.header__nav{
    width: 70%;
    margin: 0 auto;
}
.header__nav__home{
    margin-right:calc(100% - 80px) ;
}
.footer{
display: block;
background-color: blue;
 height: 4rem;
 width: 100%;

}
.footer__nav{
     width: auto;
     margin-left: 40%;
}
.footer a{
    margin: 1rem 1rem;
}
.article{
    width: 70%;
    min-height: calc(100vh - 2rem);
    margin :0 auto;
}
a{
    display: inline-block;
    text-decoration: none;
    color:white;
    margin:1rem 0;
}
a:visited{
    text-decoration: none;
    color:white;
}
img{
    display: block;
    width: 80%;
    margin: 0 auto;
}
h1{
    text-align: center;
}