*{
    box-sizing: border-box;
}
.mouse-event-container{
    height: 500px;
    width: 500px;
    border: 5px solid black;
    margin: 20px auto;
}
.red{
    background: red;
}
.blue{
    background: blue;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}