*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.header{
    background: blue;
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100vw;
    z-index: 5;
}
.backgraund{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(https://images.unsplash.com/photo-1507721999472-8ed4421c4af2?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y3NzfGVufDB8fDB8fHww);
}
.images{
    min-height: calc(100vh-4rem);
    width: 80%;
    margin: 4rem auto 0 auto;
    padding: 1rem;
}
.img-conteiner{
    max-height: 200px;
    width: 20%;
    margin-top: 1rem;
    position: relative;
}
img{
    width: 100%;
}
.img-conteiner__right{
    position: relative;
    float: right;
}
.placeholder{
    margin-top: 1rem;
    height: 200px;
    width: 1px;
}
.explenation{
    position: absolute;
    z-index: 3;
    right: 5px;
    bottom: 5px;   
}