  h1{
            color:blueviolet;
     }
 p{
            color: blue;
            background-color: yellow;
            width: 250px;
 }
 #p1{
     width: 450px;
 }
 .myClass{
     width: 100px
 }
 .my-div
 {
     background-color: green;
 }