body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto  auto auto;
    grid-template-areas: 
    ". a ."
    ". p ."
    ". p ."
    ". s .";
    gap: 10px;
}
#add-container{
    border: 5px solid black;
    min-height: 4rem;
    grid-area: a;
}
#phone-book{
   border: 5px solid black;
    min-height: 4rem; 
    grid-area: p;
}
#search-container{
   border: 5px solid black;
    min-height: 4rem; 
    grid-area: s;
}
